<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/style/bulma.min.css">
</head>

<body>
    <section class="hero is-warning is-mobile is-small">
        <div class="hero-body">
            <div class="container has-text-right has-text-left-mobile">
                <h1 class="title">
                    Sicurezza Informatica al MakeIT
                </h1>
                <h2 class="subtitle">
                    Lasciaci il tuo feedback
                </h2>
            </div>
        </div>
        <div class="hero-foot">

            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <span class="navbar-burger burger" onclick="$('.burger').toggleClass('is-active');$('.navbar-menu').toggleClass('is-active')">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <a id="home" class="navbar-item" href="/">
                                Home
                            </a>
                            <a id="projects" class="navbar-item" href="/summary">
                                Summary
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <div class="has-text-centered has-text-weight-bold" style="padding:2rem">
        <h1 class="title">404 -> page not found</h1>
    </div>
</body>

</html>